<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="GitHub.ClientId" value="379106419765e4078841" />
        <add key="GitHub.ClientSecret" value="ee001e36aa8c4ea7baaa3baa367eb407ae0c7750" />
    </appSettings>
  <system.webServer>
    <handlers>
      <remove name="httpplatformhandler" />
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform stdoutLogEnabled="true" stdoutLogFile=".\suave.log" startupTimeLimit="20" processPath="%HOME%\site\wwwroot\Wotzj.Api.exe" arguments="%HTTP_PLATFORM_PORT%"/>
  </system.webServer>
</configuration>
